*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.content1
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:white;
}
.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo
{
    margin: 55px;
    position: relative;
    left: -85%
}
.logo img
{
    width: 200px;
}
.button1
{
    position: relative;
    left: 75%;
    width: 200px;
    height: 50px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    padding-top: 15px;
    border-radius: 30px;
    font-weight: 600;
    color: red;
    border: 1px red solid;
}
.cont1
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    align-content: center;
    flex-wrap: wrap;


}
.first
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 55px;
}
.title1
{
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    margin-top: -100px;
    color: #02242c;
    padding-bottom: 20px;
    font-family: Poppins;
}
.image1 img
{
    width: 1000px;
    height: 700px;
}
.first p
{
    color: #02242c;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 25px;
    text-align: center;
    font-family: Opens Sans;
}
.button2
{
    width: 350px;
    height: 65px;
    text-align: center;
    background-color: hsl(322, 100%, 66%);
    padding-top: 20px;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: Open Sans
}
.image1
{
    margin-top: 100px;
}
.cards
{
    display: flex;
    flex-direction: column;
}
.card
{
    display: flex;
    align-items: center;
  justify-content: space-between;
  padding: 70px;
}
.c-1
{
    background-color: #f6fbff;
}
.c-3
{
    background-color: #f6fbff;
}
.no
{
    width: 100%;
    content: "";
    height: 155px;
    background-repeat: no-repeat;
    background-image: url(../images/bg-section-top-desktop-1.svg);

}
.no2
{
    width: 100%;
    content: "";
    height: 155px;
    background-repeat: no-repeat;
    background-image: url(../images/bg-footer-top-desktop.svg);
    position: relative;
    top: 260px;

}
.card img
{
    width: 450px;
}
.title2
{
    font-size: 50px;
    font-weight: 700;
    padding: 20px 100px;
    color: #02242c;

}
.card p
{
    font-size: 20px;
    font-weight: 400;
    padding-left: 100px;
    color: hsl(208, 11%, 55%);
    font-family: Open Sans;
}
.c-2
{
    flex-direction: row-reverse;
}
.container
{
    position: relative;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #00252e;
}
.container button
{
    background-color: #00252e;
    border: 1px white solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.container button svg
{
    fill :white;
    width: 18px;
    height: 32px;
}
.footer
{
    margin-top: 250px;
    padding: 100px 100px 50px;
    background-color: hsl(192, 100%, 9%);
}
.logo4
{
    padding-bottom: 30px;
}
.cont3
{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.list
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    margin-right: 190px;

}
.list div
{
    margin-bottom: 25px;
}
.list span
{
    margin-bottom: 25px;
}
.logo6
{
    position: relative;
    top: 5px;
    left: -20px;
}
.copy
{
    color: white;
    position: relative;
    left: 80%;
    bottom: 20px
}
.last
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 250px;
    background-color: white;
    position: relative;
    left: 24%;
    top: 70px;
    border-radius: 15px;
}
.title4
{
    font-size: 40px;
    font-weight: 600;
    color: #02242c;
    margin-top: 70px;
    font-family: Poppins;
}
.button5
{
    width: 350px;
    height: 70px;
    text-align: center;
    background-color: hsl(322, 100%, 66%);
    padding-top: 25px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
body
{
    height: 100vh;
}